body{
    background-color: blue;
}

h1, h2{
    background-color: red;
    color: #ffffff;
    text-align: center;
    padding-inline-end: 0cm;
  }

  img{
    width:400px;
    height:auto;
  }
  .image{
    text-align: center;
  }
  .return-link{
    color: green;
  }
  p, ul, ol{
    padding-left: 30px;
  }